body {
	margin: 0px;
	padding: 0px;
	
}

.tweet-icon {
	height:26px;
	width:26px;
	background-image:url('../images/t.png');
	background-position: -0px -0px;
	float:left;
	margin-top:0px;
	margin-right:5px;
}
	.tweet-icon:hover {
	height:26px;
	width:26px;
	background-image:url('../images/t.png');
	background-position: -0px -26px;
	}
	
	.tweet-icon img{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.facebook-icon {
	height:26px;
	width:26px;
	background-image:url('../images/f.png');
	background-position: -0px -0px;
	float:left;
	margin-top:0px;
	margin-right:5px;
}
	.facebook-icon:hover {
		height:26px;
		width:26px;
		background-image:url('../images/f.png');
		background-position: -0px -26px;
	}
	
	.facebook-icon img{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 26px;
	width: 26px;
}


.tipsy {
	padding: 5px;
	font-size: 10px;
	opacity: 1;
	background-repeat: no-repeat;
	background-image: url(../images/tipsy.gif);
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
}
.tipsy-inner { padding: 6px 9px 5px 9px; background-color: #2d3035; color: #ededed; text-shadow:1px 1px #393b3f; max-width: 200px; text-align: center; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }
